.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.main img {
  filter: invert(1);
  cursor: pointer;
  transition: all 0.5s ease;
}

.shuffle {
  margin-right: 24px;
}

.repeat {
  margin-left: 24px;
}

.controls {
  display: flex;
  padding: 12px;
  background: linear-gradient(
    222.22deg,
    #ffffff 12.65%,
    rgba(255, 255, 255, 0) 216.78%
  );
  border-radius: 40px;
  margin: 0 24px;
  cursor: pointer;
}

.controls .pause {
  filter: invert(0);
}

.shuffle.inactive:hover,
.shuffle.active,
.previous:hover,
.next:hover,
.repeat.inactive:hover,
.repeat.active {
  filter: sepia(100%) saturate(2000%) hue-rotate(100deg) brightness(1);
}

.shuffle.inactive,
.repeat.inactive {
  filter: invert(1);
}
