.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 24px 32px;
  color: white;
  z-index: 3;
  background: rgba(18, 18, 18, 0.64);
  backdrop-filter: blur(74px);

  display: flex;
  justify-content: space-between;
}
