.main {
  display: flex;
  justify-content: center;
  gap: 20px 15px;
  flex-wrap: wrap;
}

.artist {
  flex: 1;
  flex-grow: 0;
  width: 100%;
  padding: 16px;
  background: #181818;
  border-radius: 16px;
  min-width: 200px;
  cursor: pointer;
}

.artist .avatar {
  width: 168px;
  height: 168px;
  margin-bottom: 16px;
}

.artist .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 24px rgb(0 0 0 / 50%);
  object-fit: cover;
}

.artist p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  white-space: nowrap;
  text-align: center;
}
