.mainSessionError {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: column;
}

.mainSessionError p,
.main p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  white-space: nowrap;
}

.main {
  background: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main p span {
  color: #1db954;
  font-style: italic;
}

.image {
  width: 50%;
  height: 50%;
}
