.main {
  display: flex;
  align-items: center;
  flex: 1;
}

.cover {
  width: 64px;
  height: 64px;
  border-radius: 12px;
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 8px;
}

.artist {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.72);
  cursor: pointer;
}

.artist:hover {
  text-decoration: underline;
}

.like {
  margin-left: 32px;
  cursor: pointer;
}

.like.active,
.like.inactive:hover {
  filter: sepia(100%) saturate(2000%) hue-rotate(100deg) brightness(1);
}

.like.inactive {
  filter: invert(1);
}
